body {
	overflow: hidden;
}


#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}


.logo {
	height: 1em;
	padding-left: 1em;
	padding-right: 1em;
}


#character-picker .btn {
	margin: 10px;
	padding: 10px 20px;
	background-color: lightskyblue;
	color: black;
	border: 1px solid gray;
	font: inherit;
	cursor: pointer;
}


#character-picker .btn:hover {
	background-color: blue;
	color: white;
}


#character-picker .btn:active {
	transform: scale(0.94);
}
