#root {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}


.back-link {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0rem;
    text-decoration: underline;
    cursor: pointer;
}


#charge-track {
    position: absolute;
    top: 90%;
    height: 12%;
}


.charge {
    position: absolute;
    top: 0;
    width: 2.3vw;
    height: auto;
    cursor: pointer;
}