.menu-item {
    padding: 5px 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: azure;
}


.menu-item.disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}