
/** Generic styles for all uses **/

.drop-zone {
    display: inline-block;
    height: 250px;
    margin: 0 5px;
    background-color: transparent;
}

.drop-zone.hovered {
    background-color: rgba(167, 172, 181, 0.5);
    outline: 3px solid #00f0ff;
    box-shadow: 0 0 15px #00f0ff;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 8px;
}


/** Styles for specific uses only **/


.inside-list.drop-zone {
    width: 50px;
    min-width: 50px;
    flex-shrink: 0; 
}


.last-card.drop-zone {
    width: 80%;
    min-width: 50px;
    flex-shrink: 0;
}


.inside-list.drop-zone.hovered {
    outline: 3px solid #00f0ff;
    box-shadow: 0 0 15px #00f0ff;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 8px;
}


.on-breach.drop-zone {
    width: 140px;
}
