#root {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}


.back-link {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0rem;
    text-decoration: underline;
    cursor: pointer;
}


.menu-item {
    padding: 5px 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: azure;
}


.menu-item.disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}